<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>จัดการสินค้าภายในคลัง</h2>
    <ol class="breadcrumb">
      <li>
        จัดการสินค้าภายในคลัง
      </li>
      <li class="active">
        <strong>หน้าแรก</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<p><%= link_to ' สร้าง', new_stock_path , class: 'btn btn-outline btn-primary fa fa-plus' %></p>
<div class="ibox-content">
    <table class="table table-hover">
    <thead>
        <tr>
            <th>ชื่อสต็อกสินค้า</th>
            <th>จำนวนไปรษณียบัตร</th>
            <th>รายละเอียด</th>
        </tr>
    </thead>
    <tbody>
        <% @stocks.each do |stock|%>
            <tr>
                <td><%= stock.name %></td>
                <td><%= stock.amount %></td>
                <td><%= stock.description%></td>
            </tr>
        <% end %>
    </tbody>
</table>
</div>

