<h1>Stocks#index</h1>
<%= link_to 'create', new_stock_path %>
<table border=1px>
    <thead>
        <tr>
            <th>Stock Name</th>
            <th>quantity</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <% @stocks.each do |stock|%>
            <tr>
                <td><%= stock.name %></td>
                <td><%= stock.amount %></td>
                <td><%= stock.description%></td>
            </tr>
        <% end %>
    </tbody>
</table>
