<div class="jumbotron">
    <h1>ระบบพิมพ์ไปรษณีย์บัตร</h1>
    <p>พัฒนาโดยใช้เวลาว่าง ขอให้ทุกท่านจงสนุกสนานไปกับมัน</p>
    <p><%= link_to 'เข้าสู่ระบบ' , new_user_session_path , class: 'btn btn-primary btn-lg' %></p>
</div>