<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>แก้ไขการสั่งจองไปรษณียบัตร</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'จัดการไปรษณียบัตร', root_path %>
      </li>
      <li class="active">
        <strong>แก้ไขการสั่งจองไปรษณียบัตร</strong>
      </li>
    </ol>
  </div>
</div>
<br>
 <%=render 'form' %>
